@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: rgb(36, 46, 119);
  color: #fff;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
}

div {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 30px;
}